header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 10px 8px 5px #9B3922;
    animation: slide-in 0.5s;
}

@keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }



.header-ui {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.ui-item {
    list-style: none;
    margin-right: 2rem;
}


.ui-button {
    display: inline-block;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #9B3922; 
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ui-button__one{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.ui-button__two{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    
}



.ui-button:hover {
    background-color: white; /* Darker shade on hover */
    color: black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px;
}

.ui-button:focus,
.ui-button:active {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5); /* Focus ring */
}

.ui-link{
    text-decoration: none;
    color: none;
}


.ui_items {
    padding-right: 2rem;
    padding-top: 2rem;
    list-style: none;
}

.info-text{
    padding: 2rem;

}
.container {
            text-align: center;
            background-color: #fff;
            padding: 2rem;
            border-radius: 1rem;
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}