body {
    margin: 0;
    overflow: hidden;
    position: relative; /* Added to make sure buttons position relative to body */
}

.home-button, .reset-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
}

.home-button:hover, .reset-button:hover {
    background-color: #0056b3;
}

.home-button {
    top: 10px;
    left: 10px;
}

.reset-button {
    top: 10px;
    left: 70px; 

}