*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
    
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    
}

main {
    width: 100%;
    min-height: 56.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 4rem;
}